<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040815805785-ht72afo8lm134o4ggcjbcm7bvcj5d4lj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040815805785-ht72afo8lm134o4ggcjbcm7bvcj5d4lj</string>
	<key>API_KEY</key>
	<string>AIzaSyCgSo1t-qx2-DuMYZUFCa_b9jL29Bv8nhk</string>
	<key>GCM_SENDER_ID</key>
	<string>1040815805785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-e37bb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-e37bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040815805785:ios:3bf09731a7d671dd1ee848</string>
</dict>
</plist>